# CMake files
#----------------------------
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake


# Application files
#----------------------------
main
*.swp
bin/crescendo
bin/crescendo_old
*.g.*
*.e*
*.dat
*.csv
*.log

# Tags
#----------------------------
tags
